/* CSS Code for body of the site */
body {
    background-image: url("https://github.com/awebb8/alix-my-responsive-portfolio/blob/master/Images/ignasi_pattern_s.png?raw=true");
    background-color: darkgray;
    font-family: Arial, Helvetica, sans-serif;
}

/* navbar style */
.bg-primary {
    background-color: teal!important;
}

.navbar-brand {
    font-family: 'DM Serif Display', serif;
}

/* h1 header style */
h1 {
    color: teal;
    font-family: 'DM Serif Display', serif;
}

/* container style */
.container {
    margin-top: 85px;
    margin-left: 30px;
    padding: 20px;
}

/* card style */
.card {
    padding: 30px;
    margin-bottom: 100px;
}

/* footer style */
#footer {
    padding-top: 10px;
    clear: both;
    text-align: center;
    color: darkgrey;
    background-color: rgb(112, 112, 112);
    border-top: solid;
    border-top-width: thick;
    border-top-color: teal;
    position: fixed;
    bottom: 0;
    width: 100%;
}
